Repository oz-main-project-12th-team-3/BE, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BE12-OZ, @209512, @Bzlfktm

fix: Add event_name check to github-script steps in team-automation.yml
  .github/workflows/code-quality.yml
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

fix: Add event_name check to github-script steps in team-automation.yml
  .github/workflows/code-quality.yml
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

Apply Black formatting to fix code style issues
  ai/migrations/0001_initial.py
  chat/migrations/0001_initial.py
  config/settings.py
  config/urls.py
  tasks/admin.py
  tasks/migrations/0001_initial.py
  tasks/models.py
  tasks/serializers.py
  tasks/urls.py
  tasks/views.py
  users/migrations/0001_initial.py
  users/migrations/0002_alter_customuser_managers.py
  users/serializers.py
  users/urls.py
  users/views.py
Owners: @209512, @BE12-OZ

fix: Finalize GitHub Projects (beta) automation and workflow_call secrets
  .github/workflows/code-quality.yml
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

fix: Finalize GitHub Projects (beta) automation and workflow_call secrets
  .github/workflows/code-quality.yml
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

Fix: GitHub Actions script to use context.payload.pull_request
  .github/workflows/code-quality.yml
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

Fix: GitHub Actions script to use context.payload.pull_request
  .github/workflows/code-quality.yml
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

Fix: Prevent TypeError in team-automation.yml by checking github.event_name
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

Fix: Prevent TypeError in team-automation.yml by checking github.event_name
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

Add: CI/CD test file to verify pipeline
  ci_cd_test.txt
Owners: @BE12-OZ

Add: CI/CD test file to verify pipeline
  ci_cd_test.txt
Owners: @BE12-OZ

Feat: Enable CI/CD validation for pull requests from feature branches
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Feat: Enable CI/CD validation for pull requests from feature branches
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Fix: Workflow parsing error in code-quality.yml (escaped quotes)
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Fix: Workflow parsing error in code-quality.yml (escaped quotes)
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Fix: auto-assign-action reviewer type and code-quality workflow parsing
  .github/auto-assign.yml
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Fix: auto-assign-action reviewer type and code-quality workflow parsing
  .github/auto-assign.yml
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Fix: YAML syntax in code-quality.yml and update team-automation.yml
  .github/workflows/code-quality.yml
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

Fix: YAML syntax in code-quality.yml and update team-automation.yml
  .github/workflows/code-quality.yml
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

Fix: YAML syntax in code-quality.yml (final attempt)
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Fix: YAML syntax in code-quality.yml (final attempt)
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Fix: Unrecognized named-value 'secrets' in code-quality.yml
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Fix: Unrecognized named-value 'secrets' in code-quality.yml
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Feat: Add SonarCloud integration to code-quality workflow
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Feat: Add SonarCloud integration to code-quality workflow
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

Feat: Add deployment strategy, environment, and rollback guidance to deploy workflows
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Owners: @BE12-OZ

Feat: Add deployment strategy, environment, and rollback guidance to deploy workflows
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Owners: @BE12-OZ

Feat: Add metrics dashboard integration placeholder to team-metrics workflow
  .github/workflows/team-metrics.yml
Owners: @BE12-OZ

Feat: Add metrics dashboard integration placeholder to team-metrics workflow
  .github/workflows/team-metrics.yml
Owners: @BE12-OZ

Remove unnecessary admin CSS files
  staticfiles/admin/css/autocomplete.css
  staticfiles/admin/css/base.css
  staticfiles/admin/css/changelists.css
  staticfiles/admin/css/dark_mode.css
  staticfiles/admin/css/dashboard.css
  staticfiles/admin/css/forms.css
  staticfiles/admin/css/login.css
  staticfiles/admin/css/nav_sidebar.css
  staticfiles/admin/css/responsive.css
  staticfiles/admin/css/responsive_rtl.css
  staticfiles/admin/css/rtl.css
  staticfiles/admin/css/unusable_password_field.css
  staticfiles/admin/css/widgets.css
Owners: @BE12-OZ

Remove admin CSS folder from repo
  staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
  staticfiles/admin/css/vendor/select2/select2.css
  staticfiles/admin/css/vendor/select2/select2.min.css
Owners: @BE12-OZ

Update README.md
  README.md
Owners: @BE12-OZ

Update README.md
  README.md
Owners: @BE12-OZ

feat: Notification 앱 모델, admin, 삭제 기능 적용
  config/settings.py
  config/urls.py
  notifications/__init__.py
  notifications/admin.py
  notifications/apps.py
  notifications/migrations/0001_initial.py
  notifications/migrations/__init__.py
  notifications/models.py
  notifications/serializers.py
  notifications/tasks.py
  notifications/tests.py
  notifications/urls.py
  notifications/views.py
Owners: @209512, @BE12-OZ

Update README.md
  README.md
Owners: @BE12-OZ

ci(actions): SCRUM-2 Add missing enable-versioned-regex to issue-labeler
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

ci(actions): SCRUM-2 Add missing enable-versioned-regex to issue-labeler
  .github/workflows/team-automation.yml
Owners: @BE12-OZ

feat(chat): SCRUM-2 Add Django Channels for real-time chat
  .github/workflows/code-quality.yml
  chat/routing.py
  chat/urls.py
  config/asgi.py
  config/settings.py
  requirements.txt
  test_db.sqlite3
Owners: @BE12-OZ, @209512

feat(chat): SCRUM-2 Add Django Channels for real-time chat
  .github/workflows/code-quality.yml
  chat/routing.py
  chat/urls.py
  config/asgi.py
  config/settings.py
  requirements.txt
  test_db.sqlite3
Owners: @BE12-OZ, @209512

fix(ci): SCRUM-2 Correct secrets access in reusable workflow job
  .github/workflows/code-quality.yml
Owners: @BE12-OZ

.github/CODEOWNERS:

# Global ownership
* @BE12-OZ @BE12-OZ

# Backend specific
/ai/ @209512
/chat/ @209512
/users/ @209512
/config/ @209512
/migrations/ @Bzlfktm @BE12-OZ

# DevOps & Infrastructure
/.github/ @BE12-OZ @BE12-OZ
/docker-compose.yml @BE12-OZ
/Dockerfile @BE12-OZ

# Documentation
*.md @BE12-OZ @BE12-OZ

# Configuration files
pyproject.toml @BE12-OZ @BE12-OZ
pytest.ini @BE12-OZ @BE12-OZ
requirements.txt @BE12-OZ @BE12-OZ
